[Unit]
Description=Hawaii Builder (Slave %I)
Wants=network.target
After=network.target

[Service]
Type=forking
PIDFile=/run/builder/slave-%I.pid
ExecStart=/usr/bin/builder slave -n %I
Restart=always

[Install]
WantedBy=multi-user.target
