[Unit]
Description=Buildbot Slave %I
Wants=network.target
After=network.target

[Service]
Type=forking
PIDFile=/srv/buildbot/slaves/%I/twistd.pid
WorkingDirectory=/srv/buildbot/slaves/%I
ExecStart=/srv/buildbot/env/bin/buildslave start /srv/buildbot/slaves/%I
ExecReload=/srv/buildbot/env/bin/buildslave restart /srv/buildbot/slaves/%I
ExecStop=/srv/buildbot/env/bin/buildslave stop /srv/buildbot/slaves/%I
Restart=always
User=buildbot

[Install]
WantedBy=multi-user.target
