{{ define "title" }}Failed Jobs - Builder{{ end }}

{{ define "content" }}
    <div class="container-fluid">
        <!-- Page heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Builder <small>Failed Jobs</small>
                </h1>

                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i> <a href="/">Dashboard</a>
                    </li>
                    <li>
                        <i class="fa fa-table"></i> <a href="/jobs">Jobs</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-exclamation-triangle"></i> Failed
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Table -->
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped" data-sort-name="id" data-sort-order="desc">
                <thead>
                    <tr>
                        <th data-field="id" data-align="right" data-sortable="true">Build</th>
                        <th data-field="name" data-sortable="true">Name</th>
                        <th data-field="arch" data-sortable="true">Architecture</th>
                        <th data-field="started" data-sortable="true">Started</th>
                        <th data-field="finished" data-sortable="true">Finished</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <!-- /Table -->
    </div>
{{ end }}

{{ define "scripts" }}
    <script type="text/javascript">
        function wsHandler(obj) {
            if (obj.type != WEB_SOCKET_FAILED_JOBS)
                return;

            var contents = "", i;
            for (i = 0; i < obj.data.length; i++) {
                contents += '<tr class="danger">';
                contents += '<td><a href="/build/' + obj.data[i].id + '/">' + obj.data[i].id + '</a></td>';
                contents += '<td>' + obj.data[i].target + '</td>';
                contents += '<td>' + obj.data[i].arch + '</td>';
                contents += '<td>' + moment(obj.data[i].started).format("LLL") + '</td>';
                contents += '<td>' + moment(obj.data[i].finished).format("LLL") + '</td>';
                contents += '</tr>';
            }
            $("table tbody").html(contents);
        }

        function wsRequestData() {
            // Ask jobs list
            var request = {"type": WEB_SOCKET_FAILED_JOBS};
            wsConn.send(JSON.stringify(request, null, 2));
        }

        function init() {
            $("#sideBarJobsSection").addClass("active");
            $("#sideBarJobs").addClass("in").attr("aria-expanded", "true");
        }
    </script>
{{ end }}

<!-- vim: set noai ts=4 sw=4 expandtab: -->
