{{ define "title" }}Overview - Builder{{ end }}

{{ define "content" }}
    <div class="container-fluid">
        <!-- Page heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Builder <small>Overview</small>
                </h1>

                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i> Dashboard
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Indicators -->
        <div class="row">
            <!-- Queued -->
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-clock-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div id="queuedIndicator" class="huge">0</div>
                                <div>Queued</div>
                            </div>
                        </div>
                    </div>
                    <a href="/jobs/queued">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- /Queued -->

            <!-- Dispatched -->
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-clock-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div id="dispatchedIndicator" class="huge">0</div>
                                <div>Dispatched</div>
                            </div>
                        </div>
                    </div>
                    <a href="/jobs/dispatched">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- /Dispatched -->

            <!-- Completed -->
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-check fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div id="completedIndicator" class="huge">0</div>
                                <div>Completed in the last 48 hours</div>
                            </div>
                        </div>
                    </div>
                    <a href="/jobs/completed">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- /Completed -->

            <!-- Failed -->
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-exclamation-triangle fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div id="failedIndicator" class="huge">0</div>
                                <div>Failed in the last 48 hours</div>
                            </div>
                        </div>
                    </div>
                    <a href="/jobs/failed">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- /Failed -->

            <!-- Packages Repository -->
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-check-circle fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div id="packagesIndicator" class="huge">0</div>
                                <div>Packages</div>
                            </div>
                        </div>
                    </div>
                    <a href="/repo/packages">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- /Packages Repository -->
        </div>
        <!-- /.row -->
    </div>
{{ end }}

{{ define "scripts" }}
    <script type="text/javascript">
        function wsHandler(obj) {
            if (obj.type != WEB_SOCKET_STATISTICS)
                return;

            $("#queuedIndicator").html(obj.data.queued);
            $("#dispatchedIndicator").html(obj.data.dispatched);
            $("#completedIndicator").html(obj.data.completed);
            $("#failedIndicator").html(obj.data.failed);
            $("#packagesIndicator").html(obj.data.packages);
        }

        function wsRequestData() {
            // Ask jobs list
            var request = {"type": WEB_SOCKET_STATISTICS};
            wsConn.send(JSON.stringify(request, null, 2));
        }

        function init() {
            $("#sideBarDashboardSection").addClass("active");
        }
    </script>
{{ end }}

<!-- vim: set noai ts=4 sw=4 expandtab: -->
